*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.header{
    background-image: url(../img/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    background-color: rgba(255, 255, 255, 0.15);  

    padding-top: 205px;
    padding-left: 40px;
    padding-bottom: 322px;
}
.title{
    color: #FFF;
font-family: El Messiri;
}
.text{
    color: #FFF;
font-family: Arial;
}
.title__main{
    font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: 95px; 
text-align: left;

margin-bottom: 20px;
}
.sub__title{
    font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
margin-bottom: 40px;
}
.btn{
    border-radius: 15px;
    color: #FFF;

font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
padding: 18px 84px;

}
body{
    background: linear-gradient(92deg, #DDD3DA 7.31%, #EDC7DA 40.26%, #DDD4DF 68.15%, #A7E3E7 98.27%);
}
.about{
    padding-top: 150px;
    margin-bottom: 150px;
}
.container__about{
    border-radius: 20px;
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(20px);
padding: 40px;
display: flex;
justify-content: space-between;
}


.about__left{
    max-width: 600px;
}
.about__right{
    max-width: 600px;
}
.regular__text{
    margin-bottom: 40px;
    color: #323232;
font-family: Arial;
font-size: 25px;
text-align: left;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 30px */
}
.regular__text_last{
margin-bottom: 0;
}
.about__img{
    border-radius: 20px;
background: #D9D9D9;
}


.video{
    margin-bottom: 150px;
}

.container__video{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title__black{
    color: #323232;

font-family: Arial;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;

margin-bottom: 44px;
max-width: 600px;
}

.video__text{
    color: #323232;
font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 30px */
max-width: 600px;
}
.yt{
    border-radius: 20px;
background: #D9D9D9;
width: 680px;
height: 400px;
}

.community{
    margin-bottom: 150px;
}
.container__community{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    border-radius: 20px;
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(20px);
}
.community__left{
    max-width: 600px;
    padding-top: 113px;
    padding-bottom: 148px;
}
.community__right{
    max-width: 600px;
}

.com__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    
}
.community__img{
    width: 100%;
    
}
.community__img_last{
 vertical-align: bottom;
}

.title__team{
    margin-left: 40px;
    margin-bottom: 40px;
}


/* slidee section TEam */

.team__name{
    color: #323232;
margin-bottom: 10px;
font-family: Arial;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.team__text{
    color: #323232;

text-align: center;
font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.controlBtn{
    background: transparent;
    border: none;
}
.team__item{
   width: 25%;
   padding-right: 53px;
}

.team__img{
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.team__prof{
    margin-bottom: 20px;
}
.team__list{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
    
}
.slider-container {
    overflow: hidden;
    position: relative;
}

.team__list {
    display: flex;
    transition: transform 0.5s ease;
}
.prev__btn{
    position: absolute;
    top: 50%;
    left: 0;
}
.next__btn{
    position: absolute;
    top: 50%;
    right: 0;
}
.container__team{
    margin-bottom: 150px;
}

.drive__title{
    color: #323232;

font-family: Arial;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
}


/* DropDownText */

.DDT__container {
    
   
  }
  
  .DDTButton {
    display: block;
    margin: 0 auto;
    background: transparent;
    border: none;
  }
  
  .dropdown-text {
    
    border: none;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .dropdown-text.showDDT {
    max-height: none;
  }
  
  .dropDown__img {
    
    transition: transform 0.3s ease;
    
  }
  
  .dropDown__img.rotate {
    transform: rotate(180deg);
  }
  .someText{
    align-self: flex-start;
  }

  .drive__name{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text__drive{
    color: #323232;

font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
padding-top: 20px;

max-width: 1170px;
  }
  .title__ofDrive{
    color: #323232;

font-family: Arial;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 100%;
  }

  .item__drive{
    border-bottom: 1px solid #323232;
   margin-bottom: 40px;
   padding-bottom: 40px;
  }
  .testdrive{
    margin-bottom: 150px;
  }
 


  .title__sub{
    color: #323232;

font-family: Arial;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 28px;
  }
  .sub__content_title{
    color: #323232;

font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
margin-bottom: 40px;
  }
  .sub__content_title strong{
    color: #323232;
font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 120%;
  }
  .sub__right{
    max-width: 600px;
  }
  .sub__left{
    max-width: 600px;
  }
  .sub__img{
    width: 100%;
  }
  .name__sub{
    border-radius: 15px;
border: 1px solid #404040;
padding: 20px 30px;
background: transparent;
width: 100%;
text-align: center;
color: #404040;

font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
margin-bottom: 10px;
  }
  .submit__btn{
    border-radius: 15px;
    color: #FFF;

font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 700;
width: 100%;
padding: 18px 193px;
margin-top: 20px;
line-height: normal;
background: linear-gradient(90deg, #439CFB 7.15%, #F187FB 105.21%);
  }

  .sub__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subscribe{
    padding-bottom: 150px;
  }

  .container__footer{
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-top: 1px solid #323232;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer__text{
    color: #323232;
    font-family: Arial;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30px */
  }
  .footer__text_1{
    margin-bottom: 10px;
  }

  .footer__text_3{
    color: #323232;

font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
margin-right: 160px;
  }

  .footer__link{
    color: #323232;
font-family: Arial;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 120%;
text-decoration-line: underline;
  }

  @media screen and (max-width:900px) {
    .container{
        max-width: 730px;
    }
    .header{
        padding: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
       
    }
    .title__main{
        font-size: 50px;
        line-height: 60px;
    }
    .sub__title{
font-size: 22px;
    }
    .btn{
        font-size: 20px;
        padding: 15px 60px;
    }
    .regular__text{
        font-size: 18px;
        line-height: 100%;
        margin: 30px auto;
        display: block;
    }
    .about{
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .container__about{
        padding: 20px;
        flex-direction: column;
    }
    .about__left{
        margin: 0 auto;
    }
    .about__right{
        margin: 0 auto;
    }


    .container__video{
        flex-direction: column-reverse;
    }
    .title__black{
        font-size: 30px;
        text-align: left;
    }
    .video{
        margin-bottom: 50px;
    }
.container__community{
    flex-direction: column;
    padding: 0 20px;
}
.community__left{
    padding: 50px 0;
}
.title__community{
    margin-bottom: 30px;
}
.community__left .btn{
    margin: 0 auto;
    display: block;
}
.community{
    margin-bottom: 50px;
}
.title__team{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.team__item{
    width: 50%;
    padding-right: 45px;
}
.team__list{
    margin-left: auto;
}

.team__img{
    width: 200px;
}
.team__name{
    font-size: 20px;
}
.team__text{
    font-size: 18px;
}
.container__team{
    margin-bottom: 50px;
}
.drive__title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.title__ofDrive{
    font-size: 22px;
}
.text__drive{
    font-size: 18px;
}
.item__drive{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.testdrive{
    margin-bottom: 50px;
}
.title__sub{
    font-size: 35px;
    text-align: center;
}
.sub__content{
    flex-direction: column;
}
.sub__img{
    margin-bottom: 30px;
}
.sub__content_title{
    font-size: 22px;
}
.sub__content_title strong{
    font-size: 22px;
}
.subscribe{
    padding-bottom: 50px;
}

.container__footer{
    padding: 20px;
}
.footer__text_3{
    margin-right: 0;
    font-size: 18px;
}
.footer__link{
    font-size: 18px;
}
.footer__text{
    font-size: 18px;
}

  }

  @media screen and (max-width:480px){
    .container{
        max-width: 360px;
    }
    .header{
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .title__main{
        font-size: 25px;
        line-height: 25px;
        text-align: left;
    }
    .sub__title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .btn{
        font-size: 18px;
        padding: 10px 30px;
    }
    .about{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .container__about{

    }
    .regular__text{
        font-size: 16px;
        margin: 15px auto;
    }
    .about__img{
        width: 100%;
    }
    .title__black{
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .yt{
        width: 100%;
        height: auto;
    }
    .video{
        margin-bottom: 20px;
    }

    .community__left{
        padding: 20px 0;
    }
    .com__item{
        margin: 0 auto;
    }
    .com__list{
        gap: 20px;
    }
    .community{
        margin-bottom: 20px;
    }
    .team__item{
       padding-right: 20px;
       padding-left: 20px;
   
    }
    .team__list{
        
    }
    .team__img{
        width: 140px;
    }
    .team__text{
        font-size: 14px;
    }
    .arrow{
        width: 20px;
    }
    .container__team{
        margin-bottom: 20px;
    }
    .drive__title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .title__ofDrive{
        font-size: 14px;
    }
    .dropDown__img{
        width: 30px;
    }
    .text__drive{
        font-size: 14px;
    }
    .title__sub{
        font-size: 20px;
    }
    .submit__btn{
        padding: 18px 60px;
    }
    .sub__content_title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sub__content_title strong{
        font-size: 18px;
    }
    .submit__btn{
        font-size: 18px;
    }
    .container__footer{
        flex-direction: column-reverse;
    }
    .footer__text_3{
        margin-bottom: 10px;
    }
    .subscribe{
        padding-bottom: 20px;
    }
  }